.hero{
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
  .background{
    position: absolute;
    width: 100%;
    height: 100%;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-m);
    gap: var(--spacing-m);
    background-color: #13271cc7;
    text-align: center;
    .title{
      font-size: 3rem;
      color: var(--text-light);
    }
    .subtitle{
      font-size: 1.5rem;
      color: var(--text-light);
    }
  }
}