.navbar-links{
  display: flex;
  gap: 0 var(--spacing-l);
  .navbar-link{
    display: flex;
    gap: var(--spacing-s);
    color: var(--accent);
    text-transform: uppercase;
    transition: color 0.5s ease;
  }
  .navbar-link:hover{
    color: var(--accent-focus);
  }
}

/*-------------------------------------------------------
# Responsive
---------------------------------------------------------*/

@media (max-width: 1024px)  {
  .navbar-links{
    height: 10vh;
    width: 100%;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    .navbar-link{
      flex-direction: column;
      align-items: center;
    }
  }
}